@{
    Layout = "_Layout";
    ViewBag.Title = "Makale Ekle";
}
<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Article" asp-action="Index">Makaleler</a></li>
        <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Article" asp-action="Add">Makale Ekle</a></li>
</ol>
<form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" id="articleTitle" class="form-control" placeholder="Makale Başlığı" />
                    </div>
                    <div class="form-group">
                        <textarea id="text-editor"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Temel Konfigürasyonlar
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="categoryList">Kategori</label>
                        <select id="categoryList" class="form-control">
                            <option disabled="disabled">Lütfen bir kategori seçiniz...</option>
                            <option>C#</option>
                            <option>C++</option>
                            <option>Javascript</option>
                            <option>Python</option>
                            <option>Java</option>
                            <option>Ruby</option>
                            <option>Scala</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="datepicker">Tarih</label>
                        <input type="text" id="datepicker" class="form-control" value="@DateTime.Now.ToShortDateString()" />
                    </div>
                    <div class="form-group">
                        <label for="thumbnailUpload">Resim</label>
                        <input type="file" id="thumbnailUpload" accept="image/*" class="form-control-file"/>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="isActive" class="form-check-input"/>
                        <label for="isActive" class="form-check-label">Aktif Mi?</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block mt-4">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header">
                    SEO Optimizasyonu
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="seoWriter">Yazar Adı</label>
                            <input type="text" id="seoWriter" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="seoTags">Etiketler</label>
                            <input type="text" id="seoTags" class="form-control" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="seoDescription">Makale Açıklaması</label>
                            <textarea id="seoDescription" class="form-control" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/trumbowyg.min.js" integrity="sha512-mBsoM2hTemSjQ1ETLDLBYvw6WP9QV8giiD33UeL2Fzk/baq/AibWjI75B36emDB6Td6AAHlysP4S/XbMdN+kSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/langs/tr.min.js" integrity="sha512-SysH9TbVmzlYAKIvJJcHAwQtT5TznKnZSC9/hZqew8gSmmnCW4tTvdIEjQRfc3W7fYhrKRnpegQpxzD+ti6Yng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/colors/trumbowyg.colors.min.js" integrity="sha512-52bFf3irVtdywgHnf4AlsSib8ixxl9FdKZvYNTAyqEVwQP0CKh5ncL85a8ehEyQSqU+clI7d/oGmb7ruF+YVRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/emoji/trumbowyg.emoji.min.js" integrity="sha512-wyeD6Aca6BA4SSpbhB6ohjxYu/msHVzYjiRqjm1gqluF6V09kjr28wnZ1jFxkabX2x0/GBdeGStjoeH9Fr1l6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/fontfamily/trumbowyg.fontfamily.min.js" integrity="sha512-47ciyqHJ9LZeAW+JQVmDp/P0PHZdnp9Eu4UBptyP8P2o/e2BP8nDu0PwpRy5hBe5cxMAA3uEzTtAhh7WsEX4TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-WdhL8sm9nOrrL8uyZAPwKq6YIwmyYe2KUQjcEd7sBRNq0TSkWFbhRSg8x39okWRAnYIzD8Bex7kV2R3O/+VqTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="~/AdminArea/js/articleAdd.js" type="application/ecmascript"></script>
}
@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/ui/trumbowyg.min.css" integrity="sha512-K87nr2SCEng5Nrdwkb6d6crKqDAl4tJn/BD17YCXH0hu2swuNMqSV6S8hTBZ/39h+0pDpW/tbQKq9zua8WiZTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/colors/ui/trumbowyg.colors.min.css" integrity="sha512-VCJM62+9ou73PDL8ROa9D+lZKG9qrbGv91WxlU3Hyb4lfdnT5wBnLvX45vd45ENRU271iRI9xa1fYJbrVed8Jw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/plugins/emoji/ui/trumbowyg.emoji.min.css" integrity="sha512-iE+NA+i8IqPfRFNWpyhtuf5J6MVJxRFD9fopri96sn5e3epH9LKnANGerPHIjZcIsjbq7kqXIhrnqtMlzNGpvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

}